td {
  padding: 10px 20px;
}

button {
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 14px;
}

input {
  width: 250px;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}

h5 {
  color: red;
}

div.mytables {
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  color: black;
  font-weight: bold;
  margin-left: 50px;
}

/*.table1 {
  float: left;
}

.table2 {
  float: right;
}*/