<style src="../style.css" module></style>

<template>
  <div>
    <h3>Изменение данных</h3>
    <router-link to="/">Перейти на главную страницу</router-link><br/><br/>
    <h5>{{message}}</h5>
    <input name="all_clicks" type="number" v-model="myData.all_clicks" /> Все клики <br/>
    <input name="cvr_percent" type="number" v-model="myData.cvr_percent" /> Процент свр <br/>
    <input name="all_wasted" type="number" v-model="myData.all_wasted" /> Потрачено <br/>
    <input name="lid_cost" type="number" v-model="myData.lid_cost" /> Стоимость лида <br/>
    <button type="submit" @click="onSend">Отправить</button>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'Dashboard',
  data () {
    return {
      myData: {
        all_clicks: 0,
        cvr_percent: 0,
        all_wasted: 0,
        lid_cost: 0
      },
      message: ''
    }
  },
  methods: {
    onSend () {
      this.$api.update(this.myData)
      .then(res => {
        this.message = "Сохранено"
        this.myData = {
          all_clicks: 0,
          cvr_percent: 0,
          all_wasted: 0,
          lid_cost: 0
        }
      })
    }
  },
  beforeMount () {
    if(!this.$cookie.get('auth')){
      this.$router.push('login')
    }
  }
}
</script>