<style src="../style.css" module></style>

<template>
  <div>
    <h3>Авторизация</h3>
    <router-link to="/">Вернуться на главную страницу</router-link><br/><br/>
    <h5>{{message}}</h5> <br/>
    <input name="name" type="text" v-model="user.name" /> Username <br/>
    <input name="password" type="password" v-model="user.password" /> Password <br/>
    <button type="submit" @click="onLogin">Войти</button>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'Dashboard',
  data () {
    return {
      user: {
        name: "",
        password: ""
      },
      message: ""
    }
  },
  methods: {
    onLogin () {
      this.$api.login(this.user)
      .then(res => {
        this.$cookie.set('auth', 'admin', 30);
        this.$router.push('dashboard')
      })
      .catch(err => {
        this.message = "Неправильные данные"
      })
    }
  },
  beforeMount () {
    if(this.$cookie.get('auth')){
      this.$router.push('dashboard')
    }
  }
}
</script>