<style src="../style.css" module></style>

<template>
  <div>
    <h3 >Статистика данных по ILP</h3>
    <router-link to="login">Войти в админку</router-link><br/><br/>
    <button @click="onRefresh">Обновить</button>
    <div class="mytables" style="display: flex; justify-content: space-around;">
    <table border="1">
      <h4 class="tableHeader">Общая статистика</h4>
      <tbody>
        <tr>
          <td>Зарегистрированные</td>
          <td>{{this.statistics.registered || 0}}</td>
        </tr>
        <tr>
          <td>Сегодня зарегистрированные</td>
          <td>{{this.statistics.today_registered || 0}}</td>
        </tr>
        <tr>
          <td>Полностью зарегистрированные</td>
          <td>{{this.statistics.full_registered || 0}}</td>
        </tr>
        <tr>
          <td>Пользуются бесплатно</td>
          <td>{{this.statistics.trial || 0}}</td>
        </tr>
        <tr>
          <td>Trial просрочен</td>
          <td>{{this.statistics.trial_expired || 0}}</td>
        </tr>
        <tr>
          <td>Купил премиум</td>
          <td>{{this.statistics.premium || 0}}</td>
        </tr>
        <tr>
          <td>Все клики</td>
          <td>{{this.statistics.all_clicks || 0}}</td>
        </tr>
        <tr>
          <td>Процент свр</td>
          <td>{{this.statistics.cvr_percent || 0}}</td>
        </tr>
        <tr>
          <td>Сколько потрачено</td>
          <td>{{this.statistics.all_wasted || 0}}</td>
        </tr>
        <tr>
          <td>Стоимость лида</td>
          <td>{{this.statistics.lid_cost || 0}}</td>
        </tr>
      </tbody>
    </table>
    <table border="1">
      <h4 class="tableHeader">Статистика по письмам</h4>
      <tbody>
        <tr>
          <td>Отправленные сообщения (регистрация)</td>
          <td>{{this.statistics.sent_register_msg || 0}}</td>
        </tr>
        <tr>
          <td>Прочитанные сообщения (регистрация)</td>
          <td>{{this.statistics.opened_register_msg || 0}}</td>
        </tr>
        <tr>
          <td>Отправленные сообещения (забыли пароль)</td>
          <td>{{this.statistics.sent_forgot_msg || 0}}</td>
        </tr>
        <tr>
          <td>Прочитанные сообщения (забыли пароль)</td>
          <td>{{this.statistics.opened_forgot_msg || 0}}</td>
        </tr>
        <tr>
          <td>Отправленные сообщения (напомнить про полную регистрацию)</td>
          <td>{{this.statistics.sent_remind_msg || 0}}</td>
        </tr>
        <tr>
          <td>Прочитанные сообщения (напомнить про полную регистрацию)</td>
          <td>{{this.statistics.opened_remind_msg || 0}}</td>
        </tr>
        <tr>
          <td>Отправленные сообещения (после полной регистрации)</td>
          <td>{{this.statistics.sent_success_msg || 0}}</td>
        </tr>
        <tr>
          <td>Прочитанные сообщения (после полной регистрации)</td>
          <td>{{this.statistics.opened_success_msg || 0}}</td>
        </tr>
        <tr>
          <td>Отправленные сообещения (если не заходил на сайт больше 3-х дней)</td>
          <td>{{this.statistics.sent_lastactive_msg || 0}}</td>
        </tr>
        <tr>
          <td>Прочитанные сообщения (если не заходил на сайт больше 3-х дней)</td>
          <td>{{this.statistics.opened_lastactive_msg || 0}}</td>
        </tr>
        <tr>
          <td>7 простых способов удержать клиента (отправлено)</td>
          <td>{{this.statistics.sent_firstletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>7 простых способов удержать клиента (прочитано)</td>
          <td>{{this.statistics.opened_firstletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>Назовите хоть один инструмент, который заменил бы Excel (отправлено)</td>
          <td>{{this.statistics.sent_secondletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>Назовите хоть один инструмент, который заменил бы Excel (прочитано)</td>
          <td>{{this.statistics.opened_secondletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>Все тайное становится явным (отправлено)</td>
          <td>{{this.statistics.sent_thirdletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>Все тайное становится явным (прочитано)</td>
          <td>{{this.statistics.opened_thirdletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>Осторожно, жулики! (отправлено)</td>
          <td>{{this.statistics.sent_fourthletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>Осторожно, жулики! (прочитано)</td>
          <td>{{this.statistics.opened_fourthletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>О чем теперь не будут молчать рекрутеры? (отправлено)</td>
          <td>{{this.statistics.sent_fifthletter_msg || 0}}</td>
        </tr>
        <tr>
          <td>О чем теперь не будут молчать рекрутеры? (прочитано)</td>
          <td>{{this.statistics.opened_fifthletter_msg || 0}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'Main',
  data () {
    return {
      statistics: {}
    }
  },
  beforeMount () {
    this.$api.getStatistics()
      .then(res => {
        this.statistics = res.data
      })
  },
  methods: {
    onRefresh () {
      this.$socket.emit('refresh')
    }
  },
  sockets: {
    counter (counter) {
      this.statistics = counter
    }
  }
}
</script>